@import "variables.module.scss";
@import "_mixins.scss";

.container {
  max-width: 1024px;
  margin: auto;
}

//horizontal scroll snap
.snaps_align {
  scroll-snap-type: inline mandatory;
  &_item {
    scroll-snap-align: start;
  }
}
//horizontal scroll
.horizontal {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  gap: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;

  &_item {
    padding: 1rem;
  }
}

/** @accordion
* tmi
*/
.accordion {
  border: 1px solid $black-color;
  border-left: none;
  border-right: none;
  background-color: $white-color;
  padding: 16px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: 700;
  &_pannel {
    padding: 2rem 2rem 3rem;
    display: none;
    overflow: hidden;
    background-color: $light-gray;
  }
}

/** @tab 
* strength button
*/
.tab {
  &_wrap {
    margin: 0 1rem 4rem;
  }
  overflow: hidden;
  margin-right: 0.5rem;
  position: relative;
  &_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 1rem;
    border: 1px solid $black-color;
    border-right: 0;
    border-left: 0;
  }
}

//button
.round_btn {
  border: 1px solid $black-color;
  padding: 0.4rem 0.8rem;
  margin: 4px;
  border-radius: 20px;
  font-size: 0.8rem;
  line-height: 120%;
  transition: 0.3s;
  &:hover {
    background-color: $black-color;
    color: $white-color;
  }
}
.is_active {
  background-color: $red-color;
}

.bold_color {
  color: $red-color;
}

//toggle
.is_open {
  display: flex;
  visibility: visible;
}
//responsive
.mobile_only {
  display: none;
  @include for-mobile {
    display: block;
  }
}
// stroke title
.stroke_title {
  color: $white-color;
  -webkit-text-stroke: 1px $black-color;
}
.period {
  font-size: 14px;
}

// [] 오른쪽에서 왼쪽으로 나타나기 애니메이션
// [] 왼쪽에서 오른쪽으로 나타나기 애니메이션
// [] 왼쪽에서 오른쪽 방향으로 한글자씩 위아래 한바퀴 도는 애니메이션
// [] 백그라운드 랜덤(스크롤에따라 & 마우스 클릭에 따)
// [] 백그라운드 차오르는 애니메이션
