@import "variables.module.scss";
@import "_mixins.scss";

.header {
  position: sticky;
  top: 8px;
  min-width: 90vw;
  max-width: 20vw;
  height: 52px;
  margin: 0.5rem auto;
  outline: 1px solid $black-color;
  background-color: $white-color;
  transition: all 0.2s ease-in;
  &:hover {
    box-shadow: 5px 5px $black-color;
  }
  z-index: 20;
  @include for-tablet {
    min-width: 480px;
  }
  &_title {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    outline: 1px solid $black-color;
  }
}
.logo {
  font-size: 1.2rem;
}
.gnb {
  border-top: none;
  outline: 1px solid $black-color;
  transition: all 0.2s ease-in;
  &:hover {
    box-shadow: 5px 5px;
  }
  &_btn {
    background-color: transparent;
    border: none;
    padding: 1rem;
  }
  &_wrapper {
    display: none;
    flex-direction: column;
    padding: 40px 80px;
    background-color: $red-color;
  }
  &_item {
    position: relative;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.2s ease-in;
    &:hover {
      transform: scale(1.2) skew(10deg);
    }
  }
}
.menu_is_active {
  outline: 0;
  background-color: $red-color;
  color: #ffffff;
}
//common에 있는데 우선순위에서 밀리는지 작동되지 않아 여기에도 둠.
.is_open {
  display: flex;
}
